[defaults]
inventory = inventory/lab/hosts.yml
roles_path = roles
filter_plugins = filter_plugins
collections_path = .ansible/collections
interpreter_python = auto_silent
retry_files_enabled = False
host_key_checking = True
display_args_to_stdout = False
forks = 1
timeout = 60
local_tmp = .ansible/tmp
[diff]
always = False
